body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

@mixin section {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#sec-1 {
  @include section();

  video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
  }

  .buy {
    height: 70px;
    width: 160px;
    background-color: #eb5413;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    position: absolute;
    left: 45vw;
    top: 65vh;

    &:hover {
      background-color: black;
    }
  }

  .content {
    font-size: 1.5rem;
    font-weight: 480;
    position: absolute;
    left: 30vw;
    top: 40vh;
    line-height: 1.5;

    b {
      font-weight: 700;
    }
  }

  nav {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    position: absolute;

    .nav-bar {
      //   height: 100px;
      width: 30vw;
      display: flex;
      justify-content: space-evenly;
      top: 5vh;
      left: 5vw;
      color: black;
      font-size: 20px;
      align-items: center;

      a {
        color: black;
      }
    }

    .logo {
      left: 70vw;
      top: 8vh;
      cursor: pointer;

      &:hover {
        top: 5vh;
      }
    }
  }

  .feature-container {
    position: absolute;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    top: 75vh;
    color: rgb(126, 126, 136);
    flex-wrap: wrap;

    .features {
      flex: 25%;
      display: flex;
      gap: 2rem;

      .feature-details {
        line-height: 26px;

        font-weight: 480;

        h4 {
          font-size: 24px;
        }

        p {
          font-size: 18px;
        }
      }

      @media (max-width: 700px) {
        .features {
          flex: 50%;
        }
      }
    }

    @media (max-width: 750px) {
      .features {
        flex: 50%;
      }
    }
  }
}

#sec-2 {
  @include section();
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  box-sizing: border-box;

  .text {
    font-size: 3.8rem;
    font-weight: 450;
  }

  .img-rec {
    height: 65vh;
    width: 65vw;

    // position: absolute;
  }

  .cards {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;

    .card {
      padding: 2rem;
      box-shadow: 10px 10px 5px #888888;
      border-radius: 25px;
    }
  }
}

#sec-3 {
  @include section();
  display: flex;
  flex-direction: row;


  .left {
    flex: 50%;
    justify-content: center;
  }

  .right {
    overflow-y: hidden;

    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

#sec-4 {
  @include section();
  overflow-y: hidden;
}

#sec-5 {
  @include section();
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  box-sizing: border-box;

  .text2 {
    font-size: 3.8rem;
    font-weight: 450;

  }

  .logo-2 {
    position: absolute;
    left: 30vh;
    top: 20vh;
  }

  .card2 {
    position: absolute;
    display: flex;
    flex-direction: row;
  
    .text-2 {
      font-size: 1rem;
      font-weight: 300;
    }

    .card-2{
      display: flex;
      position:absolute;
      height:20vh;
      width: 40vw;
      top: 30vh;

      
    }
  }


}

#sec-6{
  @include section();
  video{
    height: 100vh;
    width: 100vw;
  }
}